/* Quick guide to remember Sass syntax: 

    1. No curly braces or semicolons are used.
    2. Indentation is crucial and determines the nesting of selectors. (Somewhat like Python..)
  
    */
    
$primaryColor: #0029FF

body 
    display: flex // making use of css flexbox
    flex-direction: column //Setting desired directon of content. 
    min-height: 100vh  // This makes sure that the content in main can grow and "push" the footer down. 
    // vh for viewport height. In this case, body is the flex container (where main can grow. )
    font-family: 'Roboto', sans-serif


header
    display: flex
    justify-content: space-between
    section
        display: flex
        align-items: center    
    h1  
        a 
            display: inline-block //Hover/Transform not working without inline-block display
            // a tag is by default an inline element - transform needs block level element to function.
            // (StackOverflow - ) 
            color: $primaryColor
            transition: transform 0.3s ease

            &:hover
                 color: darken($primaryColor, 20%)
                 transform: scale(1.15)
                 
                
    .topNavIcons, .headerIcon
        text-decoration: none
        color: black
        margin: 3px

    
    .topNavIcons
        font-size: 1.5em
       
    .headerIcon
        &:hover
            i
                transform: scale(1.25)

a 
    text-decoration: none //Eliminates all the underlined links from text being a link in general,
    //But, I am setting underline value for this in other parts when hovered. 

#shippingInfo
    text-align: center
    background-color: #D9D9D9
    border-radius: 10px
    padding: 1px

#productLogos
    display: flex
    margin: 10px 0
    justify-content: space-between

    img
        widt: 100%
        max-height: 100px //scaling the images to be same height
    
    a
        flex: 1
        box-sizing: border-box
        text-align: center
        padding: 10px
        border: 1px solid black
        border-radius: 7px
        margin: 10px
        text-decoration: none
        color: black
        &:hover
            h2
                text-decoration: underline
                transform: scale(1.15)
    

#PinkMike
    color: #EE024A
    text-align: center

#Converse
    text-align: center
 
main 
    flex: 1
    // Shorthand for flex-grow/shrink/basis
    // Grow: a flex item can grow if necessary. Val 1 means it can grow to fill available space.
    // Shrink: flex item can shrink. If lack of space in container, item can shrink. 
    // Basis: auto value means default size will be based on content size. *(css-tricks.com - awesome page!)

img
    max-width: 100%  // One part of ensuring responsive images. 
    height: auto 

#mainContentFrontPage
    display: flex
    flex-direction: column
    padding: 20px
    align-items: center



//Creating a mixin to use for button styling:

@mixin SeeMoreButton
    background-color: #FFFFFF
    padding: 10px 20px 
    text-align: center
    font-size: 1em
    border: 2px solid black 
    border-radius: 5px
    margin-bottom: 15px
    transition: all 0.3s ease

    &:hover
        background-color: darken(#E0E0E0, 10%) // & refers to the parent selector when nesting. 

     
.seeMoreButton
    @include SeeMoreButton

footer
    display: flex
    justify-content: space-around // Items are evenly spaced out on the line, equal space surrounding. 
    // NB! Space around might not have support in Edge. Chrome might also lack support for some. 
    border-top: 1px solid #D9D9D9

    a
        text-align: center
        color: black
        text-decoration: none
        &:hover
            p
                text-decoration: underline
                    


        i
            font-size: 1.5em

        &:hover
            transform: scale(1.15) // Magnify on hover for accessibility compliance. 
            transition: all 0.3s ease
            
             

        
        



    

    